Flask
yfinance
requests
babel
fpdf
Flask - Login
Flask - SQLAlchemy
Flask - WTF
Flask - Babel
celery
pyotp
plotly
psycopg2 - binary
pytest
redis
python - dotenv
flask - sock
pywebpush
Flask - Migrate
httpx
authlib

black
flake8
pre - commit
mypy
