{% extends "base.html" %}

{% block title %}{{ app_name }} - Email Verification{% endblock %}

{% block content %}
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-6 col-sm-12">
                <div class="card shadow-sm">
                    <div class="card-body text-center">
                        <h3 class="card-title mb-4">{{ title or 'Email Verification' }}</h3>
                        <p>{{ message }}</p>
                        <a href="{{ url_for('auth.login') }}" class="btn btn-primary mt-3">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
